:root {
  --text-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 1.2em;
  background-color: #222;
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
}

button {
  padding: 0.3rem 0.6rem;
  cursor: pointer;

  background-color: #333;
  color: var(--text-color);

  border: 3px inset #666;
  border-radius: 20px;
}

button:active {
  border: 3px outset #666;
}

button:hover {
  background-color: #444;
  box-shadow: 0 0 0.2rem var(--text-color);
}

input {
  background-color: #444;
  color: #eee;
  padding: 0.3rem 0.2rem;
  border-radius: 5px;
}

input::placeholder {
  color: #999;
}
